PORT=3000
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/healthadri
JWT_SECRET=change-me-to-a-long-random-string
SUPER_ADMIN_EMAIL=admin@healthadri.com
SUPER_ADMIN_PASSWORD=change-me
ALLOWED_ORIGIN=http://healthadri.i2space.in
